<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <title>Playlistify - Edit Track</title>
</head>
<body>
    <!-- Main -->
    <div class="container">
        <section class="form-content">
            <h1 class="form-title">Edit your track rating.</h1>
            <p class="form-desc">
                Change your current star rating for the chosen track in the form below to a new one. Yeah we can do that indeed!
            </p>
            <div class="form">
                <form autocomplete="off">
                    <div class="form-group">
                        <label for="track_name">Track Name:</label>
                        <input type="text" name="track_name" value="<%= trackObj.track %>" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="track_artist">Track Artist:</label>
                        <input type="text" name="track_artist" value="<%= trackObj.artist %>" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="track_rating" style="display: inline-block">Star rating:</label>
                        <div class="star-rating">
                            <li>
                                <input type="radio" name="stars" value="1" />
                                <label for="1-star">1 (<span>✭</span>)</label>
                            </li>
                            <li>
                                <input type="radio" name="stars" value="2" />
                                <label for="2-star">2 (<span>✭✭</span>)</label>
                            </li>
                            <li>
                                <input type="radio" name="stars" value="3" />
                                <label for="3-star">3 (<span>✭✭✭</span>)</label>
                            </li>
                            <li>
                                <input type="radio" name="stars" value="4" />
                                <label for="4-star">4 (<span>✭✭✭✭</span>)</label>
                            </li>
                            <li>
                                <input type="radio" name="stars" value="5" />
                                <label for="5-star">5 (<span>✭✭✭✭✭</span>)</label>
                            </li>
                        </div>
                    </div>
                    <div class="error_output"></div>
                    <button id="edit_track">Edit new rating</button>
                </form>
            </div>
        </section>
    </div>
    <!-- /Main -->
    <script src="js/editTrack.js"></script>
</body>
</html>