<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <title>Playlistify</title>
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <section class="index-header">
        <div class="first-half">
          <div class="auth-buttons">
            <div class="register-button">
              <a href="/register">Register</a>
            </div>
            <div class="login-button"><a href="/login">Login</a></div>
            <div class="google-login-button">
              <a href="/auth/google">Google Login</a>
            </div>
          </div>
          <div class="index-text">
            <h1>Playlistify!</h1>
            <div class="custom-underline"></div>
            <div class="index-desc">
              <p>
                This site is for <u>passionate</u> and <u>dedicated</u> music
                enthusiasts.
              </p>
              <p>
                <u>Explore</u> what the world's listening to and
                <u>today's popular songs</u>.
              </p>
              <p>All of your <u>favourite songs in one place</u>.</p>
            </div>
          </div>
          <div class="next-section">
            Checkout the most rated songs of now
            <span class="material-symbols-outlined"> expand_more </span>
          </div>
        </div>
        <div class="bottom-half"></div>
      </section>
      <!-- /Header -->
      <section class="index-content"></section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>