<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Playlistify</title>
</head>
<body>
    <div class="container">
    <!-- Header -->
    <header>
        <div class="top-section">
            <img src="/assets/img/top-section.jpg">
        <nav>
            <h1>Welcome to Playlistify!</h1>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
            <a href="/auth/google">Google Login</a>
        </nav>
        </div>
    </header>
    <!-- /Header -->
    </div>
</body>
</html>