<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <title>Playlistify - Log In</title>
  </head>
  <body>
    <!-- Main -->
    <div class="container">
      <section class="auth-form-content">
        <h1 class="login-title">Good to see you again.</h1>
        <div class="login-custom-underline"></div>
        <p class="login-desc">
          Welcome back fellow Playlistify user! Let's get back to designing your
          favourite playlist!
        </p>
        <div class="auth-form">
          <form autocomplete="off">
            <div class="auth-form-group">
              <label for="email">Email</label>
              <input type="text" class="login-input" name="email" required />
              <div class="email error"></div>
            </div>
            <div class="auth-form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="login-input"
                name="password"
                required
              />
              <div class="password error"></div>
            </div>
            <button id="login_user">Log in to Playlistify!</button>
            <div class="login-extra-detail">
              Don't have an account yet? then
              <a href="/register"><u>register</u></a> with us. <br />Or else go
              back to <a href="/"><u>home page</u></a
              >.
            </div>
          </form>
        </div>
      </section>
      <section class="login-image-half"></section>
    </div>
    <!-- /Main -->
    <script src="js/login.js"></script>
  </body>
</html>