<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Playlistify - Log In</title>
</head>
<body>
    <!-- Header -->
    <header id="header">
        <nav>
            <div class="container">
                <h1>Login to Playlistify!</h1>
            </div>
        </nav>
    </header>
    <!-- /Header -->
    <!-- Main -->
    <div class="container">
        <div class="form">
            <form autocomplete="off">
                <div class="form_group">
                    <label for="email">Email</label>
                    <input type="text" class="login-input" name="email" required/>
                    <div class="email error"></div>
                </div>
                <div class="form_group">
                    <label for="password">Password</label>
                    <input type="password" class="login-input" name="password" required/>
                    <div class="password error"></div>
                </div>
                <button id="login_user">Log in</button>
            </form>
        </div>
    </div>
    <!-- /Main -->
    <script src="js/login.js"></script>
</body>
</html>