<!-- Include head content -->
<%- include('include/_head') %>
    <!-- Main -->
    <div class="container">
      <section class="auth-form-content">
        <h1 class="login-title">Good to see you again.</h1>
        <div class="login-custom-underline"></div>
        <p class="login-desc">
          Welcome back fellow Playlistify user! Let's get back to designing your
          favourite playlist!
        </p>
        <div class="auth-form">
          <form autocomplete="off">
            <div class="auth-form-group">
              <label for="email">Email</label>
              <input type="text" class="login-input" name="email" required />
              <div class="email error"></div>
            </div>
            <div class="auth-form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="login-input"
                name="password"
                required
              />
              <div class="password error"></div>
            </div>
            <button id="login_user">Log in to Playlistify!</button>
            <div class="login-extra-detail">
              Don't have an account yet? then
              <a href="/register"><u>register</u></a> with us. <br />Or else go
              back to <a href="/"><u>home page</u></a
              >.
            </div>
          </form>
        </div>
      </section>
      <section class="login-image-half"></section>
    </div>
    <!-- /Main -->
    <script src="js/login.js"></script>
  </body>
</html>