<!-- Include head content -->
<%- include('include/_head') %>
    <!-- Main -->
    <div class="container">
      <section class="auth-form-content">
        <h1 class="register-title">Let's get started.</h1>
        <div class="register-custom-underline"></div>
        <p class="register-desc">
          Let's get started on your all time favourite playlist with
          Playlistify!
        </p>
        <div class="auth-form">
          <form autocomplete="off">
            <div class="auth-form-group">
              <label for="email">Email</label>
              <input type="text" class="register-input" name="email" required />
              <div class="email error"></div>
            </div>
            <div class="auth-form-group">
              <label for="username">Username</label>
              <input
                type="text"
                class="register-input"
                name="username"
                required
              />
              <div class="username error"></div>
            </div>
            <div class="auth-form-group">
              <label for="username">Profile photo URL</label>
              <input type="text" class="register-input" name="photo" required />
            </div>
            <div class="auth-form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="register-input"
                name="password"
                required
              />
              <div class="password error"></div>
            </div>
            <button id="register_user">Create account</button>
            <div class="register-extra-detail">
              Already have an account created? then
              <a href="/login"><u>login</u></a> back. <br />Or else go back to
              <a href="/"><u>home page</u></a
              >.
            </div>
          </form>
        </div>
      </section>
      <section class="register-image-half"></section>
    </div>
    <!-- /Main -->
    <script src="js/register.js"></script>
  </body>
</html>