<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Playlistify - Register</title>
</head>
<body>
    <!-- Header -->
    <header id="header">
        <nav>
            <div class="container">
                <h1>Register with Playlistify!</h1>
            </div>
        </nav>
    </header>
    <!-- /Header -->
    <!-- Main -->
    <div class="container">
        <div class="form">
            <form id="register_form" autocomplete="off" onsubmit="event.preventDefault();">
                <!-- <div class="form_group">
                    <label>Email</label>
                    <input type="email" class="register-input" id="email" name="email"/>
                </div>
                <div class="form_group">
                    <label>Username</label>
                    <input type="username" class="register-input" id="username" name="username"/>
                </div>
                <div class="form_group">
                    <label>Password</label>
                    <input type="password" class="register-input" id="password" name="password"/>
                </div> -->
                <button id="register_user" class="register_button">Create account</button>
            </form>
        </div>
    </div>
    <!-- /Main -->
    <script src="js/main.js"></script>
</body>
</html>