/** General **/

body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-family: "Space Mono", monospace;
  line-height: 160%;
  color: #222222;
}

h1 {
  margin: 0;
  padding: 0;
}

img {
  opacity: 1;
  border: 0;
  text-decoration: none;
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

/** Header **/

.profile-header {
  margin: 0 auto 65px auto;
}

.profile-header .top-bar {
  border-bottom: 1px solid #d3d3d3;
  padding: 20px 30px;
  margin: 0 0 100px 0;
}

.top-bar .deets {
  display: inline-block;
}

.top-bar .logout,
.top-bar .add-track-button,
.top-bar .profile-button {
  float: right;
}

.profile-header .profile-photo {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
}

.profile-header .title {
  display: block;
  text-align: center;
  margin: 50px auto;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 27px;
}

/** Table **/

.table-container {
  display: flex;
  justify-content: center;
}

.profile-table,
.index-table {
  border-collapse: separate;
  width: 75%;
  border-spacing: 0;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  margin-bottom: 75px;
}

.index-table {
  margin: 75px 0;
  width: 85%;
}

thead {
  position: sticky;
  top: 0;
  font-size: 15px;
  background-color: #000000;
  color: #ffffff;
}

th {
  font-weight: normal;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
}

thead th:first-of-type {
  border-top-left-radius: 10px;
}

thead th:last-of-type {
  border-top-right-radius: 10px;
}

td,
th {
  padding: 20px 30px;
  text-align: left;
}

tr td {
  font-size: 13px;
  border-bottom: 1px solid #d3d3d3;
}

.profile-table tr td:last-child {
  width: 10%;
  text-align: center;
}

.profile-table tr td:nth-child(2),
.profile-table tr td:nth-child(3),
.profile-table tr td:nth-child(4) {
  width: 20%;
}

tr:last-child td {
  border-bottom: none;
}

.cover-art-data img {
  width: 90px;
  height: auto;
  border-radius: 5px;
}

.cover-art-data {
  width: 15%;
}

.edit {
  color: #0c60aa;
  margin-right: 5px;
}

.delete,
.error {
  color: #aa0c0c;
}

.error {
  margin-top: 10px;
}

.index-header {
  width: 100vw;
  height: 100vh;
}

.first-half {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(50% - 80px);
  z-index: 3;
}

.bottom-half {
  z-index: 2;
  position: absolute;
  top: calc(50% - 70px);
  width: 100%;
  height: calc(50% + 70px);
  background-image: url("../img/index.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.auth-buttons {
  margin-top: 25px;
  margin-right: 20px;
  float: right;
}

.register-button,
.login-button,
.google-login-button,
.next-section,
.logout,
.add-track-button,
.profile-button {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
  margin-right: 5px;
  color: #ffffff;
}

.next-section {
  color: #222222;
}

.register-button {
  background-color: #9595cb;
}

.login-button {
  background-color: #c889ba;
}

.google-login-button {
  background-color: #d59176;
}

.logout,
.add-track-button,
.profile-button {
  background-color: #4b585a;
  margin-top: 3px;
}

.add-track-button,
.profile-button {
  margin-right: 10px;
  background-color: #066c1e;
}

.profile-button {
  background-color: #9663a6;
}

.logout i,
.add-track-button i,
.profile-button i {
  vertical-align: middle;
  margin-right: 10px;
}

.custom-underline,
.register-custom-underline,
.login-custom-underline {
  background-image: linear-gradient(
    to right,
    #9595cb,
    #c889ba,
    #d59176,
    #ffe3a9,
    #dce8b8,
    #d3e6d0
  );
  border-radius: 10px;
  width: 17%;
  height: 7px;
}

.index-text {
  margin-top: 75px;
  margin-left: 75px;
}

.index-text h1,
.register-title,
.login-title,
.form-title,
.title {
  font-style: italic;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 1px;
}

.index-desc {
  display: inline-block;
  margin: 30px 0;
}

.next-section {
  margin-right: 0;
  margin-left: 75px;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-bottom: 5px solid #ffe3a9;
  cursor: pointer;
}

.next-section:hover {
  border: 1px solid #d3d3d3;
  border-bottom-width: 5px;
  border-bottom-color: #d3e6d0;
}

.next-section .expand-more {
  display: inline-block;
  vertical-align: middle;
  color: #888888;
}

.index-content {
  height: 100vh;
  padding-top: 100px;
}

.auth-form-content {
  display: inline-block;
  padding-top: 75px;
  padding-left: 75px;
  width: calc(50vw - 75px);
}

.form-content {
  margin-top: -25px;
  padding-left: 75px;
}

.auth-form,
.form {
  margin-top: 20px;
  border: 1px solid #d3d3d3;
  padding: 20px;
  width: 75%;
  border-radius: 10px;
}

.form {
  width: 50%;
}

.auth-form-group,
.form-group {
  margin-bottom: 30px;
}

.auth-form-group label,
.auth-form-group input {
  display: block;
}

label {
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: #333333;
  font-weight: 700;
}

.form-group label {
  display: block;
}

.auth-form label:after {
  content: ":";
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 15px);
  padding: 10px 8px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  font-family: "Space Mono", monospace;
  background-color: #fafafae7;
  color: #444444;
}

input:focus {
  outline: none !important;
  border: 2px solid #5e2574;
}

.register-title,
.login-title,
.form-title {
  font-size: 27px;
  color: #222222;
}

.register-desc,
.login-desc,
.form-desc,
.desc,
.index-content-desc {
  margin: 30px 0;
  width: 50%;
  line-height: 200%;
  color: #6a6a6a;
}

.desc {
  margin: 30px auto;
  text-align: center;
}

.register-custom-underline,
.login-custom-underline {
  margin-top: 30px;
  width: 30%;
}

.register-image-half,
.login-image-half {
  display: inline-block;
  position: absolute;
  width: 50vw;
  top: 25%;
  left: 50%;
  background-image: url("../img/register.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 75vh;
}

.login-image-half {
  background-image: url("../img/login.jpg");
}

.login-extra-detail,
.register-extra-detail {
  margin-top: 10px;
  line-height: 200%;
  font-style: italic;
}

.login-extra-detail a {
  color: #9663a6;
}

.register-extra-detail a {
  color: #ec6083;
}

#register_user,
#login_user,
#add_track,
#edit_track,
#delete_track {
  padding: 10px;
  text-transform: uppercase;
  font-family: "Space Mono", monospace;
  letter-spacing: 1px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #9663a6;
  border: 1px solid #9663a6;
  cursor: pointer;
  width: 100%;
}

#login_user {
  border-color: #ec849f;
  background-color: #ec849f;
}

#add_track {
  border-color: #385e46;
  background-color: #385e46;
}

#edit_track {
  border-color: #0c60aa;
  background-color: #0c60aa;
}

#delete_track {
  border-color: #aa0c0c;
  background-color: #aa0c0c;
}

.star-rating li {
  list-style-type: none;
  margin-bottom: 5px;
}

.star-rating label {
  display: inline-block;
}

.star-rating label span {
  font-size: 20px;
}

.star-icon {
  color: #dba716;
  vertical-align: bottom;
}

li label {
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  font-family: "Space Mono", monospace;
  font-size: 13px;
}

.track-wrapper {
  width: 75%;
  border: 1px solid #d3d3d3;
  margin: 75px auto 50px auto;
  padding: 30px;
  display: flex;
  align-items: center;
}

.track-wrapper .track-cover {
  width: 15%;
  display: inline-block;
}

.track-wrapper .track-deets {
  display: inline-block;
  margin-left: 30px;  
}

.track-name,
.track-artist,
.total-ratings {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

.track-name,
.track-artist {
  margin-bottom: 15px;
}

.track-name span,
.track-artist span,
.total-ratings span {
  margin-left: 7px;
  font-family: "Space Mono", monospace;
  font-weight: normal;
}

.rated-list {
  width: 75%;
  margin: 75px auto;
}

.rated-list h2 {
  letter-spacing: 1px;
  font-style: italic;
  font-size: 20px;
  color: #000000;
  font-weight: normal;
}

.rated-list ul {
  margin-top: 75px;
}

.rated-list li {
  list-style-type: decimal-leading-zero;
  margin-bottom: 50px;
}

.rated-list li span {
  color: #777777;
}

.rated-by-photo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.index-content-desc {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.index-content-desc h1 {
  font-style: italic;
  margin-bottom: 35px;
  font-size: 25px;
  font-weight: normal;
  color: #000000;
}