/** General **/

body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-family: "Space Mono", monospace;
}

h1 {
  margin: 0;
  padding: 0;
}

img {
  opacity: 1;
  border: 0;
  text-decoration: none;
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

/** Header **/

.profile-header {
  margin: 0 auto 65px auto;
}

.profile-header .top-bar {
  background-color: black;
  color: white;
  padding: 20px;
  margin: 0 0 100px 0;
}

.top-bar .deets {
  display: inline-block;
}

.top-bar .logout {
  float: right;
}

.profile-header .profile-photo {
  display: block;
  margin: 0 auto;
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

.profile-header .title {
  display: block;
  text-align: center;
  margin: 50px auto;
  text-transform: capitalize;
  font-size: 20px;
  letter-spacing: 1px;
}

/** Table **/

.table-container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  background-color: white;
  width: 75%;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

thead {
  position: sticky;
  top: 0;
  font-size: 16px;
  background-color: black;
  color: white;
}

th {
  font-weight: normal;
}

thead th:first-of-type {
  border-top-left-radius: 10px;
}

thead th:last-of-type {
  border-top-right-radius: 10px;
}

td,
th {
  padding: 10px;
  text-align: left;
}

tr td {
  font-size: 14px;
  border-bottom: 1px solid #cccccc;
}

tr:last-child td {
  border-bottom: none;
}

.cover-art-data img {
  width: 75px;
  height: auto;
}

.cover-art-data {
  width: 10%;
}

.edit a {
  color: #4d8eff;
}

.delete a {
  color: #ff4d6d;
}

.index-header {
  width: 100vw;
  height: 100vh;
}

.index-header a {
  color: white;
}

.first-half {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(50% - 80px);
  z-index: 3;
}

.bottom-half {
  z-index: 2;
  position: absolute;
  top: calc(50% - 70px);
  width: 100%;
  height: calc(50% + 70px);
  background-image: url("../img/top-section.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.auth-buttons {
  margin-top: 25px;
  margin-right: 20px;
  float: right;
}

.register-button,
.login-button,
.google-login-button,
.next-section {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1px;
  font-size: 12px;
  margin-right: 5px;
}

.register-button {
  background-color: #9595cb;
}

.login-button {
  background-color: #c889ba;
}

.google-login-button {
  background-color: #d59176;
}

.custom-underline {
  background-image: linear-gradient(to right, #9595cb , #c889ba, #d59176, #ffe3a9, #dce8b8, #d3e6d0);
  border-radius: 10px;
  width: 16%;
  height: 7px;
}

.index-text {
  margin-top: 50px;
  margin-left: 50px;
}

.index-text h1 {
  font-style: italic;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 1px;
}

.index-desc {
  display: inline-block;
  margin: 30px 0;
}

.next-section {
  margin-right: 0;
  margin-left: 50px;
  border: 1px solid #d3d3d3;
  border-bottom: 5px solid #ffe3a9;
  cursor: pointer;
}

.next-section:hover {
  border: 1px solid #d3d3d3;
  border-bottom-width: 5px;
  border-bottom-color: #d3e6d0;
}

.next-section .material-symbols-outlined {
  display: inline-block;
  vertical-align: middle;
  color: #888888;
}

.index-content {
  height: 100vh;
}