/** General **/

body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-family: "Space Mono", monospace;
  line-height: 160%;
  color: #222222;
}

h1 {
  margin: 0;
  padding: 0;
}

img {
  opacity: 1;
  border: 0;
  text-decoration: none;
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

/** Header **/

.profile-header {
  margin: 0 auto 65px auto;
}

.profile-header .top-bar {
  background-color: #000000;
  color: white;
  padding: 20px;
  margin: 0 0 100px 0;
}

.top-bar .deets {
  display: inline-block;
}

.top-bar .logout {
  float: right;
}

.profile-header .profile-photo {
  display: block;
  margin: 0 auto;
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

.profile-header .title {
  display: block;
  text-align: center;
  margin: 50px auto;
  text-transform: capitalize;
  font-size: 20px;
  letter-spacing: 1px;
}

/** Table **/

.table-container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  background-color: white;
  width: 75%;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

thead {
  position: sticky;
  top: 0;
  font-size: 16px;
  background-color: #000000;
  color: white;
}

th {
  font-weight: normal;
}

thead th:first-of-type {
  border-top-left-radius: 10px;
}

thead th:last-of-type {
  border-top-right-radius: 10px;
}

td,
th {
  padding: 10px;
  text-align: left;
}

tr td {
  font-size: 14px;
  border-bottom: 1px solid #cccccc;
}

tr:last-child td {
  border-bottom: none;
}

.cover-art-data img {
  width: 75px;
  height: auto;
}

.cover-art-data {
  width: 10%;
}

.edit a {
  color: #4d8eff;
}

.delete a {
  color: #ff4d6d;
}

.index-header {
  width: 100vw;
  height: 100vh;
}

.index-header a {
  color: white;
}

.first-half {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(50% - 80px);
  z-index: 3;
}

.bottom-half {
  z-index: 2;
  position: absolute;
  top: calc(50% - 70px);
  width: 100%;
  height: calc(50% + 70px);
  background-image: url("../img/index.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.auth-buttons {
  margin-top: 25px;
  margin-right: 20px;
  float: right;
}

.register-button,
.login-button,
.google-login-button,
.next-section {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
  margin-right: 5px;
}

.register-button {
  background-color: #9595cb;
}

.login-button {
  background-color: #c889ba;
}

.google-login-button {
  background-color: #d59176;
}

.custom-underline,
.register-custom-underline,
.login-custom-underline {
  background-image: linear-gradient(
    to right,
    #9595cb,
    #c889ba,
    #d59176,
    #ffe3a9,
    #dce8b8,
    #d3e6d0
  );
  border-radius: 10px;
  width: 17%;
  height: 7px;
}

.index-text {
  margin-top: 75px;
  margin-left: 75px;
}

.index-text h1,
.register-title,
.login-title,
.form-title {
  font-style: italic;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 1px;
}

.index-desc {
  display: inline-block;
  margin: 30px 0;
}

.next-section {
  margin-right: 0;
  margin-left: 75px;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-bottom: 5px solid #ffe3a9;
  cursor: pointer;
}

.next-section:hover {
  border: 1px solid #d3d3d3;
  border-bottom-width: 5px;
  border-bottom-color: #d3e6d0;
}

.next-section .material-symbols-outlined {
  display: inline-block;
  vertical-align: middle;
  color: #888888;
}

.index-content {
  height: 100vh;
}

.auth-form-content {
  display: inline-block;
  padding-top: 75px;
  padding-left: 75px;
  width: calc(50vw - 75px);
}

.form-content {
  padding-top: 75px;
  padding-left: 75px;
}

.auth-form,
.form {
  margin-top: 20px;
  border: 1px solid #d3d3d3;
  padding: 20px;
  width: 75%;
  border-radius: 10px;
}

.form {
  width: 50%;
}

.auth-form-group,
.form-group {
  margin-bottom: 30px;
}

.auth-form-group label,
.auth-form-group input {
  display: block;
}

label {
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: #333333;
  font-weight: 700;
}

.form-group label {
  display: block;
}

.auth-form label:after {
  content: ":";
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 15px);
  padding: 10px 8px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  font-family: "Space Mono", monospace;
  background-color: #fafafae7;
  color: #444444;
}

input:focus {
  outline: none !important;
  border: 2px solid #5e2574;
}

.register-title,
.login-title,
.form-title {
  font-size: 27px;
  color: #222222;
}

.register-desc,
.login-desc,
.form-desc {
  margin: 30px 0;
  width: 50%;
  line-height: 200%;
}

.register-custom-underline,
.login-custom-underline {
  margin-top: 30px;
  width: 30%;
}

.register-image-half,
.login-image-half {
  display: inline-block;
  position: absolute;
  width: 50vw;
  top: 25%;
  left: 50%;
  background-image: url("../img/register.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 75vh;
}

.login-image-half {
  background-image: url("../img/login.jpg");
}

#register_user,
#login_user,
#add_track,
#edit_track {
  padding: 10px;
  text-transform: uppercase;
  font-family: "Space Mono", monospace;
  letter-spacing: 1px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #9663a6;
  border: 1px solid #9663a6;
  cursor: pointer;
  width: 100%;
}

#login_user {
  border-color: #ec849f;
  background-color: #ec849f;
}

#register_user:hover {
  border-color: #ec6083;
  background-color: #ec6083;
}

#login_user:hover {
  border-color: #6ac4cf;
  background-color: #6ac4cf;
}

#add_track,
#edit_track:hover {
  border-color: #9663a6;
  background-color: #9663a6;
}

#add_track:hover,
#edit_track {
  border-color: #ec6083;
  background-color: #ec6083;
}

.star-rating li {
  list-style-type: none;
  margin-bottom: 5px;
}

.star-rating label {
  display: inline-block;
}

input[type="radio"] {
  vertical-align: text-top;
}

.star-rating label span {
  font-size: 20px;
}

.one-rating:checked {
  accent-color: #9595cb;
}

.two-rating:checked {
  accent-color: #c889ba;
}

.three-rating:checked {
  accent-color: #d59176;
}

.four-rating:checked {
  accent-color: #ffe3a9;
}

.five-rating:checked {
  accent-color: #dce8b8;
}